<h1>All Families</h1>
<%= paginate @families %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Family</th>
    </thead>

    <tbody>
      <% @families.each do |family| %>
        <tr>
          <td><%= family.name %></td>
          <td><%= link_to 'Show', family %></td>
          <td><%= link_to 'Edit', edit_family_path(family) %></td>
          <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>