<h1>Editing Profile</h1>

<%= form_with model: @user do |f| %>
  <div class="card">
      <h5 class="card-header">Profile</h5>
    <div class="card-body row g-3">
      <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :username %><br/>
        <%= f.text_field :username, class: "form-control"%>
      </div>

      <div class="field">
        <%= f.label :occupation, class:"form-label"  %><br />
        <%= f.select :occupation,  options_for_select(occupation_options), { prompt: 'Choose an occupation' }, { class:"form-select new-plant-namebox" }  %>
      </div>
      <div class="field">
        <%= f.label :profile_image, 'Image file', class:"form-label" %>
        <%= f.file_field :profile_image, class:"form-control new-plant-namebox" %>
      </div>
    </div>
  </div>

  <div class="actions d-grid gap-2 mt-4">
    <%= f.submit "Edit User",  class: "btn btn-success add-user"%>
  </div>
<% end %>


<%= @user.inspect %>