<div class="row">
  <div class="col">
    <div class="card mb-3 vh-25">
      <div class="row g-0 vh-25">
        <div class="col-4">
          <div class="profile-image rounded-start">
            <% if @user.profile_image? %>
              <%= image_tag @user.profile_image.to_s %>
            <% else %>
              <%= image_tag "user-img.png"%>
            <% end %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title"><%= @user.name%></h1>
            <p class="card-text"><%= @user.username%></p>
            <p class="card-text"><%= @user.email%></p>
            <p class="card-text">Occupation: <%= @user.occupation%></p>
            <p class="card-text"><small class="text-muted">Member since <%= @user.created_at.strftime("%B %Y") %></p>
            <%= link_to "edit profile", edit_user_path(current_user) if current_user %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <h3 class="section-title mb-0" >Your contributions</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-0">
      <% @user.plants.each do |plant| %>
        <%= render partial: 'shared/plantcard', locals: { :plant => plant } %>
      <% end %>
    </div>
</div>





<br>
<br>
<br>


</div>