<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar overflow-scroll collapse <%= nav_class %>">
    <%= link_to root_path, class:'navbar-brand mx-2 mb-5 d-none d-md-block' do %> <%= image_tag 'Logo-name.svg' %><span id='beta-label'>BETA</span><% end %>
    <ul class="list-unstyled ps-0 mt-2 nav-options nav-options-closed mb-auto" id="nav-options">
            <li class="nav-item">
                <%= link_to root_path, class: "navigation-link rounded #{active_class(root_path)}" do %>Home<% end %>
            </li>
            <li class="nav-item">
                <%= link_to plants_path, class: "navigation-link rounded mt-2 #{active_class(plants_path)}" do %>All Plants<% end %>
            </li>
            <% if current_user %>
                <li class="nav-item">
                    <%= link_to new_plant_path, class: "navigation-link rounded mt-2 #{active_class(new_plant_path)}" do %>New Plant<% end %>
                </li>
            <% end %>
            <li class="mb-1 mt-2">
                <button
                    class="btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#home-collapse"
                    aria-expanded="false">
                    Browse by
                </button>
                <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <%= link_to families_path, class:"link-light rounded #{active_class(families_path)}" do%>Family<% end %>
                        </li>
                        <li>
                            <%= link_to genera_path, class:"link-light rounded #{active_class(genera_path)}" do%>Genus<% end %>
                        </li>
                        <% if false %>
                        
                        <li>
                            <%= link_to plants_path, class:"link-light rounded #{active_class(plants_path)}" do%>Light Requirements<% end %>
                        </li>
                        <li>
                            <%= link_to plants_path, class:"link-light rounded #{active_class(plants_path)}" do%>Water Requirements<% end %>
                        </li>
                        <li>
                            <%= link_to plants_path, class:"link-light rounded #{active_class(plants_path)}" do%>Foliage Color<% end %>
                        </li>
                        <li>
                            <%= link_to plants_path, class:"link-light rounded #{active_class(plants_path)}" do%>Flower Color<% end %>
                        </li>
                        
                        <% end %>
                    </ul>
                </div>
            </li>
        </ul>
        <hr />
        <% if current_user.present? %>
            <div class="dropdown ms-2">
                <a
                    href="#"
                    class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="dropdownUser1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <div class="rounded-circle me-2 sidebar-pic">
                        <% if current_user.profile_image? %>
                            <img
                            src="<%= current_user.profile_image.to_s %>"
                            alt="" 
                            />
                        <% else %>
                            <img
                                src="https://ui-avatars.com/api/?background=519259&length=1&name=<%= current_user.username %>"
                                alt=""
                            />

                        <% end %>
                    </div>
                    <strong><%= current_user.username %></strong>
                </a>
                <ul
                    class="dropdown-menu dropdown-menu-dark text-small shadow"
                    aria-labelledby="dropdownUser1"
                >
                    <li><%= link_to "Profile", user_path(current_user), class: "dropdown-item" %></li>
                    <li><%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %></li>

                    <li><hr class="dropdown-divider" /></li>
                    <li><%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>Log out<% end %></li>
                </ul>
            </div>
        <% else %>
            <%= link_to new_user_session_path, class: "navigation-link rounded mt-2 #{active_class(new_user_session_path)}" do %>Sign in<% end %>
            <%= link_to new_user_registration_path, class: "navigation-link rounded mt-2 #{active_class(new_user_registration_path)}" do %>Sign up<% end %>
        <% end %>
</nav>