<%= form_with(model: plant, local: true) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :genus_name %>
    <%= form.text_field :genus_name, list: 'genera_autocomplete' %>
    <datalist id="genera_autocomplete" maxlength="4">
      <% Genus.all.each do |genus| %>
        <option value="<%= genus.name %>">
      <% end %>
    </datalist>
  </div>

  <div class="field">
    <%= form.label :symbol, 'Genus symbol' %> <br>
    <%= form.radio_button :symbol, '' %> None <br>
    <%= form.radio_button :symbol, 'hybrid' %> Hybrid <br>
    <%= form.radio_button :symbol, 'graft' %> Graft <br>
  </div>

  <div class="field">
    <%= form.label :family_name %>
    <%= form.text_field :family_name %>
  </div>

  <div class="field">
    <%= form.label :specific_epithet %>
    <%= form.text_field :specific_epithet %>
  </div>

  <div class="field">
    <%= form.label :hybrid, 'Specific epithet symbol' %> <br>
    <%= form.radio_button :hybrid, '' %> None <br>
    <%= form.radio_button :hybrid, 'manmade' %> Man-made <br>
    <%= form.radio_button :hybrid, 'natural' %> Natural <br>
  </div>

  <div class="field">
    <%= form.label :grex %>
    <%= form.text_field :grex %>
  </div>

  <div class="field">
    <%= form.label :infraspecies_unit %>
    <%= form.text_field :infraspecies_unit %>
  </div>

  <div class="field">
    <%= form.label :infraspecies_name %>
    <%= form.text_field :infraspecies_name %>
  </div>

  <div class="field">
    <%= form.label :cultivar_group %>
    <%= form.text_field :cultivar_group %>
  </div>

  <div class="field">
    <%= form.label :cultivar %>
    <%= form.text_field :cultivar %>
  </div>

  <div class="field">
    <%= form.label :hybrid %>
    <%= form.text_field :hybrid %>
  </div>

  

  <div class="field">
    <%= form.label :water_reqts %>
    <%= form.text_field :water_reqts %>
  </div>

  <div class="field">
    <%= form.label :landscape_uses %>
    <%= form.text_area :landscape_uses %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
