<%= form_with(model: plant, local: true) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :genus_name %>
    <br>
    <%= form.text_field :genus_name, class:"form-control new-plant-namebox", data: { behavior: "autocomplete" }%>
  </div>

  <div class="field">
    <%= form.label :symbol, 'Genus symbol' %> <br>
    <%= form.radio_button :symbol, '' %> None <br>
    <%= form.radio_button :symbol, 'hybrid' %> Hybrid <br>
    <%= form.radio_button :symbol, 'graft' %> Graft <br>
  </div>

  <div class="field">
    <%= form.label :family_name %>
    <%= form.text_field :family_name, class: "new-plant-namebox" %>
  </div>

  <div class="field">
    <%= form.label :specific_epithet %>
    <%= form.text_field :specific_epithet, class: "new-plant-namebox" %>
  </div>

  <div class="field">
    <%= form.label :hybrid, 'Specific epithet symbol' %> <br>
    <%= form.radio_button :hybrid, '' %> None <br>
    <%= form.radio_button :hybrid, 'hybrid' %> Hybrid <br>
  </div>

  <div class="field">
    <%= form.label :grex %>
    <%= form.text_field :grex, class: "new-plant-namebox" %>
  </div>

  <div class="field">
    <%= form.label :infraspecies_unit %>
    <%= form.text_field :infraspecies_unit, list: 'infraspecies_unit_autocomplete', class: "new-plant-namebox"  %>
    <datalist id="infraspecies_unit_autocomplete" maxlength="4">
        <option value="var.">
        <option value="subsp.">
        <option value="subvar.">
        <option value="f.">
        <option value="subf.">
    </datalist>
  </div>

  <div class="field">
    <%= form.label :infraspecies_name %>
    <%= form.text_field :infraspecies_name, class: "new-plant-namebox" %>
  </div>

  <div class="field">
    <%= form.label :cultivar_group %>
    <%= form.text_field :cultivar_group, class: "new-plant-namebox" %>
  </div>

  <div class="field">
    <%= form.label :cultivar %>
    <%= form.text_field :cultivar, class: "new-plant-namebox" %>
  </div>

  <div class="field">
    <%= form.label :water_reqts %>
    <%= form.text_field :water_reqts %>
  </div>

  <div class="field">
    <%= form.label :landscape_uses %>
    <%= form.text_area :landscape_uses %>
  </div>


  <strong>Synonyms</strong>
  
  <div class='fields2'>
    <%= form.fields_for :synonyms do |builder| %>
      <%= render 'synonym', f: builder %>
    <% end %>
  </div> 
  <%= link_to_add_synonym('Add Synonym', form, :synonyms, class: 'btn btn-primary') %>

  <div>
    <strong>Common Names</strong>
  </div>

  <div class='fields'>
    <%= form.fields_for :common_names do |builder| %>
      <%= render 'common_name', f: builder %>
    <% end %>
  </div> 
  <%= link_to_add_row('Add Common Name', form, :common_names, class: 'btn btn-primary') %>
  
  <div class='fields'>
    <%= form.label :light_reqt %>
    <%= form.select :light_reqt, [['Part Sun', 'Part Sun'],['Full Sun', 'Full Sun'], ['Part Shade', 'Part Shade'], ['Full Shade', 'Full Shade']], {}, :multiple => 'multiple', :class => 'form-control' %>
  </div>


  <div class='fields'>
    <%= form.label :foliage_color %>
    <%= form.select :foliage_color, [], {}, :multiple => 'multiple', :class => 'form-control' %>
  </div>
  

  <div class='fields'>
    <%= form.label :flower_color %>
    <%= form.select :flower_color, [], {}, :multiple => 'multiple', :class => 'form-control' %>
  </div>
  

  <%#= form.select :light_reqt, [['Part Sun', 'Part Sun'],['Full Sun', 'Full Sun'], ['Part Shade', 'Part Shade'], ['Full Shade', 'Full Shade']], {}, :required => "true", :multiple => 'multiple', :class => 'form-control' %>
  <%#= form.select :light_reqt, [['Single', 'Single'],['Married', 'Married'], ['Widowed', 'Widowed'], ['Separated', 'Single']], {}, :required => "true", :multiple => 'multiple', :class => 'form-control' %>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
