<li class="list-group-item py-3">
  <div class="row">
    <div class="col-10 col-sm-11">
      <div class="row g-3">
        <div class="col-sm-4">
            <%= f.label :hybrid, 'Hybrid symbol', class:"form-label"  %> <br>
            <%= f.select :hybrid, [['None', nil], ['Intergeneric hybrid (×)', 'intergeneric'], ['Interspecific hybrid (×)', 'interspecific'], ['Graft (+)', 'graft']], {}, { class:"form-select new-plant-namebox" } %>
        </div>

        <div class="col-sm-4">
          <%= f.label :genus, class:"form-label" %>
          <%= f.text_field :genus, class:"form-control" %>
        </div>

        <div class="col-sm-4">
          <%= f.label :specific_epithet, class:"form-label" %>
          <%= f.text_field :specific_epithet, class:"form-control" %>
        </div>

        <div class="col-sm-4">
            <%= f.label :infraspecies_unit, 'Infraspecific unit', class:"form-label" %>
            <%= f.text_field :infraspecies_unit, list: 'infraspecies_unit_autocomplete', class: "form-control new-plant-namebox", placeholder: "Select unit" %>
            <datalist id="infraspecies_unit_autocomplete" maxlength="4">
                <option value="var.">
                <option value="subsp.">
                <option value="subvar.">
                <option value="f.">
                <option value="subf.">
            </datalist>
        </div>

        <div class="col-sm-8">
          <%= f.label :infraspecies_name, 'Infraspecific name', class:"form-label" %>
          <%= f.text_field :infraspecies_name, class:"form-control" %>
        </div>

        <div class="col-sm-4">
          <%= f.label :grex, class:"form-label" %>
          <%= f.text_field :grex, class:"form-control" %>
        </div>

        <div class="col-sm-4">
          <%= f.label :cultivar_group, class:"form-label" %>
          <%= f.text_field :cultivar_group, class:"form-control" %>
        </div>

        <div class="col-sm-4">
          <%= f.label :cultivar, class:"form-label" %>
          <%= f.text_field :cultivar, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="col-2 col-sm-1 d-flex justify-content-center">
      <%= f.hidden_field :_destroy %>
      <%= link_to '#', class: 'remove_record' do %><button type="button" class="btn-close" aria-label="Close"></button><% end %>
    </div>
  </div>
</li>