<p id="notice"><%= notice %></p>
<%= paginate @plants %>
<h1 class="section-title">All Plants</h1>
<% if false %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Family</th>
        <th>Genus</th>
        <th>Specific epithet</th>
        <th>Hybrid</th>
        <th>Grex</th>
        <th>Infraspecies unit</th>
        <th>Infraspecies name</th>
        <th>Cultivar group</th>
        <th>Cultivar</th>
        <th>Hybrid</th>
        <th>Water reqts</th>
        <th>Landscape uses</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plants.each do |plant| %>
        <tr>
          <td><%= plant.family.name %></td>
          <td><i><%= get_genus(plant.genus_id).name %></i></td>
          <td><i><%= plant.specific_epithet %></i></td>
          <td><%= plant.hybrid %></td>
          <td><%= plant.grex %></td>
          <td><%= plant.infraspecies_unit %></td>
          <td><%= plant.infraspecies_name %></td>
          <td><%= plant.cultivar_group %></td>
          <td><%= plant.cultivar %></td>
          <td><%= plant.hybrid %></td>
          <td><%= plant.water_reqts %></td>
          <td><%= plant.landscape_uses %></td>
          <td><%= link_to 'Show', plant %></td>
          <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
          <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  
<% end %>


<div class="row gy-3 gy-lg-0">
        <div id="name-preview" class="card sticky-top shadow">
            <%= image_tag 'placeholder-img.png', class:"card-img-top", id:"plant-preview-img" %> 
            <div class="card-body">
                <h5 class="card-title">Preview</h5>
                <div class="preview__body">
                        <p class="plant-preview_family">
                            <span class="skeleton-box" id="family-name-skelbox" style="width:55%;"></span>
                        </p>
                        <p class="plant-preview_family">
                            <span id="family-name"></span>
                        </p>
                        <h4>
                            
                            <span class="skeleton-box" style="width:80%;"></span>
                            <span class="skeleton-box" style="width:90%;"></span>
                        </h4>
                        <h4>
                            <span id="genus-symbol"></span><span id="genus-name"></span>
                            <span id="hybrid-symbol"></span>
                            <span id="specific-epithet"></span>
                            <span id="grex"></span>
                            <span id="infrasp-unit"></span>
                            <span id="infrasp-name"></span>
                            <span id="cultivar"></span>
                            <span id="cultivar-group"></span>
                        </h4>
                    </div>
                
                
            </div>
        </div>
    </div>



<br>


<%= link_to 'New Plant', new_plant_path %>
