
<div class="row">
  <h1 class="section-title">Search results</h1>
  <%= paginate @plants %>
  <div class="row row-cols-2 row-cols-xl-4 g-2">
    <% @families.each do |family| %>
      <div class="col">
        <%= link_to family_path(family), class:"text-decoration-none" do %>
          <div class="card plant-card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Family</h6>
              <p class="card-text"><%= family.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row row-cols-2 row-cols-xl-4 g-2">
    <% @genera.each do |genus| %>
      <div class="col">
        <%= link_to genus_path(genus), class:"text-decoration-none" do %>
          <div class="card plant-card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Genus</h6>
              <p class="card-text"><i><%= genus.name %></i></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <% @plants.each do |plant| %>
      <%= render :partial => 'shared/plantcard', :locals => {:plant => plant}%>
    <% end %>
  </div>
</div>