<p id="notice"><%= notice %></p>

<p>
  <strong>Specific epithet:</strong>
  <%= @plant.specific_epithet %>
</p>

<p>
  <strong>Grex:</strong>
  <%= @plant.grex %>
</p>

<p>
  <strong>Infraspecies unit:</strong>
  <%= @plant.infraspecies_unit %>
</p>

<p>
  <strong>Infraspecies name:</strong>
  <%= @plant.infraspecies_name %>
</p>

<p>
  <strong>Cultivar group:</strong>
  <%= @plant.cultivar_group %>
</p>

<p>
  <strong>Cultivar:</strong>
  <%= @plant.cultivar %>
</p>

<p>
  <strong>Hybrid:</strong>
  <%= @plant.hybrid %>
</p>

<p>
  <strong>Water reqts:</strong>
  <%= @plant.water_reqts %>
</p>

<p>
  <strong>Landscape uses:</strong>
  <%= @plant.landscape_uses %>
</p>

<p>
  <strong>Genus:</strong>
  <%= @plant.genus_id %>
</p>

<h5>Common Names</h5>
<% @plant.common_names.each do |common_name| %>
<p>
  <%= common_name.name %>
<% end %>
</p>

<h5>Synonyms</h5>
<% @plant.synonyms.each do |synonym| %>
<p>
  <%= synonym.genus %>
  <%= synonym.specific_epithet %>
  <%= synonym.grex %>
  <%= synonym.infraspecies_unit %>
  <%= synonym.infraspecies_name %>
  <%= synonym.cultivar_group %>
  <%= synonym.cultivar %>
  <%= synonym.hybrid %>
<% end %>
</p>


<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
