<div class="form-signin m-5">
<h2 class="section-title">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-floating">
    <%= f.text_field :username, class:"form-control", id:"floatingInput" %>
    <%= f.label :username, for:"floatingInput" %>
  </div>

  <div class="form-floating">
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"floatingPassword" %>
    <%= f.label :password %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <label>
        <%= f.check_box :remember_me %> Remember me
      </label>
    </div>
  <% end %>

  <%= f.submit "Log in", class:"w-100 btn btn-lg btn-primary" %>
<% end %>
<br>

<%= render "devise/shared/links" %>
</div>